ul{
    list-style-type: none;
    padding: 0%;
}
    
a{
    text-decoration: none;
}
:root{
    --main-text-color:#212121;
    --main-font:'Roboto', 'sans serif';
    --hover-focus-color:#2196F3;
    --main-font-size:16px
    
}

.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    }

.navbar{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.navbar-current{
    color: var(--hover-focus-color);
}

.navbar:hover{
    color: var(--hover-focus-color);
}

.navbar:focus{
    color: var(--hover-focus-color);
}
.h-contact{
    font-style:normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.h-contact:focus {
    color: var(--hover-focus-color);
}

.h-contact:hover{
    color: var(--hover-focus-color);
}

body{
    font-family: var(--main-font);
    color: var(--main-text-color) ;
}

.hero{
    background: #2F303A;
    padding: 200px 0;
}

 .hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  
 }
 .hero-button{
     cursor: pointer;
    font-weight: 700;
    padding: 10px 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border:none;

 }
 .hero-button:focus{
    background-color:#188CE8;
 }

 .hero-button:hover{
    background-color:#188CE8;    
}

.detail-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.detail-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.do{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team{
   padding: 94px 0;   
   background: #F5F4FA;
}

.team-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-name{
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-title{
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em; 
    color: #757575;
}

.nav-button{
    cursor: pointer;
    font-weight: 500;
    border-radius: 4px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border: none;
}

.nav-button:focus{
    background-color: var(--hover-focus-color);
    color:#FFFFFF;
}

.nav-button:hover{
    background-color: var(--hover-focus-color);
    color:#FFFFFF;
}

.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.project-type{
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

.foot{
    background: #2F303A;
}

.f-contact{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.f-contact:focus {
    color: #FFFFFF;
}

.f-contact:hover{
    color: #FFFFFF;
}